{% extends "auctions/layout.html" %}

{% block body %}
    <!-- {% if bid_message %}
        <div class="alert alert-primary">{{ bid_message }}</div>
    {% endif %} -->
    <h2 class="text-center mt-4 mb-3"><strong>{{ listing.title }}</strong></h2>
    <section style="background-color: #eee;">
        
        <div class="container py-5">
            
                <div class="row justify-content-center mb-3">
                    <div class="col-md-12 col-xl-10">
                    <div class="card shadow-0 border rounded-3">
                        <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                    <img src="{{ listing.imageUrl }}" class="w-100" />
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <h5>{{ listing.title }}</h5>
                                <p class="mb-4 mb-md-0">
                                    {{ listing.description}}
                                </p>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                <div class="d-flex flex-row align-items-center mb-1">
                                    <h4 class="mb-1 me-1">${{ listing.currentPrice }}</h4>
                                    {% if listing.currentPrice > listing.startPrice %}
                                        <span class="text-danger"><s>${{ listing.startPrice }}</s></span>
                                    {% endif %}
                                </div>
                                <h6 class="text-success">Free shipping</h6>
                                <div class="d-flex flex-column mt-4">
                                    {% if user.is_authenticated and user.username != listing.seller.username %}
                                        {% if inWatchlist %}
                                            <form action="{% url 'removeWatchlist' id=listing.id %}" method="post">
                                                {% csrf_token %}
                                                <button class="btn btn-outline-danger btn-sm mt-2" type="submit">
                                                    Remove from Watchlist
                                                </button>
                                            </form>
                                        {% else %}
                                            <form action="{% url 'addWatchlist' id=listing.id %}" method="post">
                                                {% csrf_token %}
                                                <button class="btn btn-outline-primary btn-sm my-2" type="submit">
                                                    Add to Watchlist
                                                </button>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        </div>
                            {% if user.username == listing.seller.username %}
                                <div class="card-footer">Seller: You own this product</div>
                                <footer class="card-footer">created on: {{ listing.dateCreated }}</footer>
                            {% else %}
                                <div class="card-footer blank">Seller: {{ listing.seller }}</div>
                            {% endif %}
                    </div>
                    </div>
                </div>
        </div>
{% endblock %}
<!-- {% if user.is_authenticated and user.username != listing.auctioneer.username %}
            <form action="{% url 'watchlist' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="hidden" name="username" value="{{ user.username }}">
                </div>
                <div class="form-group">
                    <input type="hidden" name="product" value="{{ listing.title }}">
                </div>
                {% if message %}
                    <input class="btn btn-danger" name="command" type="submit" value="{{ message }}">
                {% else %}
                    <input class="btn btn-primary" name="command" type="submit" value="Add to Watchlist">
                {% endif %}
            </form>
            <div class="form-group" style="margin-top: 50px;">
                <form action="{% url 'bid' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <input type="hidden" name="product" value="{{ listing }}">
                    </div>
                    <div class="form-group mb-3">
                        <label>Place bid</label>
                        <input class="from-control" name ="bid" type="number">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" value="Place bid">
                    </div>
                </form>
            </div>
        {% endif %} -->